.row{
    margin-left: 10px;
    margin-bottom: 10px; 
}
::-webkit-scrollbar{
    display: none;
}
.movie-row{
    display: flex;
    overflow-x: scroll;
    margin-top: 10px;
}
.movie{
    width: 300px;
    max-height: 200px;
    margin-right: 20px;
    transition: 450ms;
    object-fit: contain;
}
.movie:hover{
    transform: scale(1.06);
}
.movie_Large{
    max-height: 350px;
}